<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\sunya\OneDrive\Desktop\C#\data\TournamentTracker"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=JBP-L\MSSQLSERVER01;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		
	</startup>
</configuration>